.DS_Store

# dependencies
node_modules

# Next.js
.next
out

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.local
.env.*.local

# build artifacts
coverage
dist

# editor
.vscode
.idea

# local design/context exports
context/
from-figma/

